EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''

# STRIPE SETTINGS
STRIPE_PUBLISHABLE_KEY=''
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''

# PAYPAL SETTINGS
PAYPAL_CLIENT_ID=''
PAYPAL_SECRET=''
PAYPAL_MODE=sandbox

# DB
DB_NAME=postegres
DB_USERNAME=postegres
DB_PASSWORD=''
DB_HOSTNAME=db
DB_PORT=5432
DB_HOST=db